@charset "utf-8";
@import url('http://at.alicdn.com/t/font_2257487_cvc9wxt6ax.css');

* {
    padding: 0px;
    margin: 0px;
    font-family: 等线 Light;
    
}
a.menuA{
    text-decoration: none;
    color: #000;
}
body {
    background-color: #ECECEC;
    
}

.hengzhi {
    display: flex;
    flex-direction: row;
}

.shuzhi {
    display: flex;
    flex-direction: column;
}

.justifyAround {
    display: flex;
    justify-content: space-around;
}
.justifyBetween{
    display: flex;
    justify-content: space-between;
}.mainbody{
    margin:60 px;
}